<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mangoit_docusign" translate="label" sortOrder="200">
            <label>MangoIt</label>
        </tab>
        <section id="docusing_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>DocuSign Settings</label>
            <tab>mangoit_docusign</tab>
            <resource>MangoIt_DocuSign::config</resource>
            <group id="api_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <!-- add a new group with id active display -->
                <label>Configuration Options</label>
                <field id="sandbox_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <!-- add a new field with id scope -->
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>In live mode, use live details to send documents</comment>
                </field>
                <field id="api_sandbox_hostname" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Sandbox</label>
                    <comment>change to development mode (https://demo.docusign.net/restapi) for testing</comment>
                </field>
                <field id="api_live_hostname" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Live</label>
                    <comment>change to production (https://docusign.net/restapi) before going live</comment>
                </field>
                <field id="api_user_name" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>API Username</label>
                    <comment>API user name</comment>
                </field>
                <field id="api_password" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>API Password</label>
                    <comment>API password</comment>
                </field>
                <field id="api_integrator_key" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Integrator Key</label>
                    <comment>Integrator key</comment>
                </field>
                <!--Docusing Account Number Field-->
                <field id="account_id" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Account Id</label>
                    <comment>DocuSign account id</comment>
                    <validate>validate-number</validate>
                </field>
                <!--Attachment option for order summery-->
                <field id="send_attachment" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Send Attachment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Send order summery with document</comment>
                </field>
            </group>
            <group id="mangoit_template_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Template settings</label>
                <field id="recipient_email" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Recipient Email</label>
                    <comment>Must match DocuSign template configuration</comment>
                    <validate>required-entry validate-email</validate>
                </field>

                <field id="recipient_full_name" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Recipient Name</label>
                    <comment>Must match DocuSign template configuration</comment>
                    <validate>required-entry</validate>
                </field>

                <field id="subject" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Email template subject</label>
                    <comment>This subject will be displayed in email</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="template_id" translate="label comment" type="text" sortOrder="2" 
                showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>Template id</label>
                    <comment>Use document/template id that need to share</comment>
                   <validate>required-entry</validate>
                </field>
            </group>
            <group id="mangoit_cc_email" translate="label" type="text" sortOrder="11" showInDefault="1"
                showInWebsite="1" showInStore="1">
                <label>Carbon copy user</label>
                <field id="cc_name" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Full Name</label>
                    <comment>Name of user who will recieve carbon copy of docuement</comment>
                </field>

                <field id="cc_email" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Email address</label>
                    <comment>This user will recieve a same copy of document</comment>
                    <validate>validate-email</validate>
                </field>
            </group>
            <group id="mangoit_sobo_setting" translate="label" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send On Behalf Of – User </label>
                <field id="sobo_name" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Full Name</label>
                    <comment>On behalf of user full name</comment>
                </field>
                <field id="sobo_email" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Email</label>
                    <comment>On behalf of user email id</comment>
                    <validate>validate-email</validate>
                </field>
            </group>
        </section>
        
</system>
</config>